@model List<Coche>
<style>

    body {
        font-family: 'Lobster', cursive;
        margin: 0;
        box-sizing: border-box;
        font-size: 16px;
        position: relative;
    
    
    }

    .shop-window {
        position: relative;
        top: 150px;
        left: 150px;
        z-index: 9999;
        width: 1024px;
        background-color: #f7f7f7;
        box-shadow: 20px 2px 20px grey;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .shop-window_item-desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 0 50px 30px;
    }

    h2 {
        font-size: 2.3rem;
    }

    .shop-window_item-image {
        flex: 1;
    }

    .shop-window_item-image_image {
        margin: auto;
        width: 400px;
    }

    img {
        width: 100%;
    }
</style>



@{
    int idversion = Int32.Parse(ViewData["idversion"].ToString());
}

@{ int cont = 0;
}


@foreach (Coche item in Model)
{

    @if (cont == 0)
    {
    
        cont++;
<div style=" position: relative;
       top:50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom:25px;

">
    <a style="margin:10px" class="btn btn-success" asp-controller="Coches" asp-action="NuevoCoche" asp-route-idVersion="@idversion">Añadir Anuncio</a>

</div>}

    <div class="shop-window" style="margin-bottom:50px">


        <div class="shop-window_item-desc">
            <h2>@Html.DisplayFor(modelItem => item.Nombre)</h2>
            <div class="shop-window_item-desc_choice">
                <p>  @Html.DisplayFor(modelItem => item.Descripcion)</p>
                <p style="color:limegreen"> @Html.DisplayFor(modelItem => item.Precio)€</p>

                @*<a class=" btn btn-success" asp-controller="Coches" asp-action="SendMailAsync" asp-route-idvendedor="@item.IdVendedor"
        asp-route-emailcomprador="@Context.User.FindFirst("Mail").Value" asp-route-nombre="@item.Nombre">Contactar</a>*@
                <a class=" btn btn-success" asp-controller="Coches" asp-action="EnviarMail" asp-route-idvendedor="@item.IdVendedor"
        asp-route-emailcomprador="@Context.User.FindFirst("Mail").Value" asp-route-nombre="@item.Nombre" >Contactar</a>
            </div>
        </div>
        <div class="shop-window_item-image">
            <div class="shop-window_item-image_image">
                <img src="@Html.DisplayFor(modelItem => item.Foto1)" class="shop-window_item-image_image_large" />
            </div>
        </div>


    </div>}